@import url('https://cdnjs.cloudflare.com/ajax/libs/sanitize.css/2.0.0/sanitize.min.css');

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:700|Roboto:300');

*,
*::before,
*::after {
	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	line-height: 1.75;
	font-weight: 300;
	color: #332F21;

	display: flex;
	align-items: center;
	justify-content: center;

	min-height: 100vh;
	padding: 2rem;

	background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6)), url('https://source.unsplash.com/random');
	background-position: center center;
	background-size: cover;
}

h1 {
	font-family: 'Roboto Slab', serif;
	font-weight: 700;
	font-size: 2.25rem;
	line-height: 1.3333;
}
.content{
  display: flex;
}
.card {
	display: flex;
	flex-direction: column;
  border-radius: 25px;
	max-width: 62rem;
	min-height: 75vh;
	background-color: white;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5);
  flex: 1 0 auto;
}

	.card__image-container {
		max-height: 15rem;

		background-image: url('https://source.unsplash.com/random');
		background-size: cover;
		background-position: center center;
	}

	.card__image {
		opacity: 0;
		pointer-events: none;
	}

	.card__contents {
		display: flex;
		flex-direction: column;

		padding: 2rem;
	}

	.card__header,
	.card__footer {
		flex: 0 0 auto;
	}

	.card__footer {
		margin-top: 2rem;
		text-align: right;
	}

	.card__body {
		flex: 1 1 auto;
	}



	.card__title {
		margin-top: 0;
	}

@media only screen and (min-width: 53rem) {

	.card {
		flex-direction: row;
		min-height: 60vh;
	}

		.card__image-container {
			flex: 0 1 45%;
			max-height: inherit;
		}

		.card__contents {
			flex: 1 1 55%;
			padding: 3rem;
		}

}
