::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*{
  padding: 0;
  margin: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.inner{
  overflow:hidden;
}

.content{
  height: 100vh;
  display: flex;
  align-content: space-between;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  z-index: 1;
  margin-bottom: 9vh;
  background: black;
}

.content::after{
  content: '';
  position: absolute;
  left: 0;
  bottom: -3rem;
  font-size: 0.3rem;
  background-size: 3rem 100%;
  height: 3rem;
  width: 100%;
  border: none;
  margin: 0;
}

footer{
  display: flex;
  font-size: 2vh;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background: black;
  background-size: cover;
  color: #378079;
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 0;
}
footer > .author{
  display: block;
  background: -webkit-linear-gradient(top left, #12BCB0 20%, #FABE0E 70%);
  background: -o-linear-gradient(top left, #12BCB0 20%, #FABE0E 70%);
  background: linear-gradient(to bottom right, #12BCB0 20%, #FABE0E 70%);
  /* background-size: 400% 400%; */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding: 0.3em 0.6em ;
  border: 0.5vh solid transparent;
  -webkit-border-image: -webkit-linear-gradient(top left, #12BCB0 20%, #FABE0E 70%);
  -o-border-image: -o-linear-gradient(top left, #12BCB0 20%, #FABE0E 70%);
  border-image: linear-gradient(to bottom right, #12BCB0 20%, #FABE0E 70%);
  border-image-slice: 1;
}

footer > .author > a{
  outline: none;
  text-decoration: underline;
}

footer > .author > a:hover {
  background: -webkit-linear-gradient(165deg, #12BCB0 20%, #FABE0E 70%);
  background: -o-linear-gradient(165deg, #12BCB0 20%, #FABE0E 70%);
  background: linear-gradient(255deg, #12BCB0 20%, #FABE0E 70%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer > .author > h1{
  text-transform: uppercase;
  font-size: 1em;
}
.content > .menu{
  height: 6em;
  display: flex;
  justify-content: space-between;
  list-style: none;
  text-transform: uppercase;
  flex-direction: column;
}

ul.menu > li.row-item{
  padding-right: 1em;
  padding-left: 1em;
}

ul.menu > li.row-item > a {
  display: flex;
  outline: none;
  flex-direction: column-reverse;
  background: white;
  text-decoration: none;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  letter-spacing: 0.1em;
  position: relative;
}
ul.menu > li.row-item > a:hover {
  background-image: -webkit-linear-gradient(left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-image: -o-linear-gradient(left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-size: 400% 400%;
  animation: animatedMenu 3s ease-out;
}
ul.menu > li.row-item > a::before {
  display: flex;
  content: "";
  height: 0.125em;
  transition: width 0.2s ease 0s;
  width: 0;
  position: absolute;
}
ul.menu > li.row-item > a:hover::before {
  background-image: -webkit-linear-gradient(left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-image: -o-linear-gradient(left, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-image: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
  background-size: 400% 400%;
  animation: animatedMenu 3s ease-out;
  width: 100%;
}

@keyframes animatedMenu {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 100%;
  }
}

@media screen and (max-width: 200px) {
  .content{
    font-size: 8vw;
  }
}

@media screen and (min-width: 560px) {

  .content{
    font-size: 3vh;
    justify-content: center;
    align-items: center;
  }
  .content > ul.menu{
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content > ul.menu > li.row-item > a{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
    padding-bottom: 10%;
  }
  .content > ul.menu > li.row-item > a ::after {
    height: 0.1em;
  }
}
