<title>Alan Latte</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<div class="content">
	<article class="card">
		<aside class="card__image-container">
			<img class="card__image" src="https://source.unsplash.com/random">
		</aside>
		<section class="card__contents">
			<header class="card__header">
				<h1 class="card__title">
					Далеко-далеко за словесными горами в стране
				</h1>
			</header>
			<section class="card__body">
				<p>
					Далеко-далеко за словесными горами в стране, гласных.
				</p>
				<p>
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Но живет которое коварных алфавит своего все знаках обеспечивает, от всех они вдали, строчка букв текстов. Себя заглавных вопроса сбить букв!
				</p>
			</section>
		</section>
	</article>
</div>
