<title>Alan Latte</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/card.css') }}">
<div class="content">
	<article class="card">
		<aside class="card__image-container">
			<img class="card__image" src="https://source.unsplash.com/random">
		</aside>
		<section class="card__contents">
			<header class="card__header">
				<h1 class="card__title">
					This is my test card, soon there will be changes
				</h1>
			</header>

			<section class="card__body">
				<p>
					Random text
				</p>
				<p>Starting with the layout for mobile we'll stack the elements on top of one another and then move on to centre the elements and share the available space between navigation items when the viewport is large enough and then fix the whole content block perfectly centred at a set maximum width, allowing the height to be dictated by the content.</p>
			</section>
		</section>
	</article>
	<!-- <div class="menu">
	  <div class="label">Contacts</div>
	  <div class="spacer"></div>
	  <div class="item"><span>Twitter</span></div>
	  <div class="item"><span>Instagram</span></div>
	  <div class="item"><span>VK</span></div>
	  <div class="item"><span>TELEGRAM</span>
	</div> -->
</div>
