<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>AboutMe</title>
</head>
<body>
	<!-- <div class="menu">
		<div class="label">Contacts</div>
		<div class="spacer"></div>
		<div class="item"><span>Twitter</span></div>
		<div class="item"><span>Instagram</span></div>
		<div class="item"><span>VK</span></div>
		<div class="item"><span>TELEGRAM</span>
	</div> -->
</body>
</html>
