<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Menu</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles/index.css') }}">
</head>
<body>
  <div class="inner">
    <div class="content">
      <div class="menu">
        <ul>
          <li class="row-item" id="home"><a href="#">home</a></li>
          <li class="row-item" id="projects"><a href="#">projects</a></li>
          <li class="row-item" id="about"><a href="#">about</a></li>
          <li class="row-item" id="contact"><a href="#">contact</a></li>
        </ul>
      </div>
    </div>
    <footer>
      <div class="author">
        <h1>created by:</h1>
        <a href="/tlgrm">Alan Latte</a>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js" charset="utf-8"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='sripts/index.js') }}"></script>

</body>
</html>
