<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Alan Latte</title>
  <link rel="stylesheet" href="style.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.0.2/TweenMax.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="img">
      <div class="line"></div>
      <img src="me.jpg" alt="">
      <div class="corner shape-corner"></div>
      <div class="corner-bottom shape-corner"></div>
      <div class="title">
        <span>Alan<br>Latte</span>
      </div>
      <div class="tag">
        <span>I need a make a cup <br> of coffee</span>
      </div>
      <div class="metier">
        <span>developer</span>
      </div>
      <div class="add">
        <i class="fa fa-plus"></i>
      </div>
    </div>
    <div class="data">
      <div class="contact">
        <span>contact</span>
      </div>
    </div>
    <div class="strips">
      <div class="s-one">
        <div class="year">|2020|</div>
      </div>
      <div class="s-two"></div>
      <div class="s-three"></div>
    </div>
    <div class="top-bar">
      <ul>
        <li>
          <div class="logo">
            <span>AlanLatte</span><i class="fa fa-coffee"></i>
          </div>
        </li>
        <li>
          <div class="menu-btn">
            <span class="one"></span>
            <span class="two"></span>
          </div>
        </li>
      </ul>
    </div>
    <div class="media">
      <ul>
        <li><a href="#"><i class="fa fa-vk"></i></a></li>
        <li><a href="#"><i class="fa fa-telegram"></i></a></li>
        <li><a href="#"><i class="fa fa-instagram"></a></i></li>
        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
      </ul>
    </div>
  </div>

  <script type="text/javascript" src="script.js"></script>
</body>
</html>
