@import 'normalize.css';
@import 'topBar.css';
@import 'imgTag.css';
@import 'links.css';
@import 'cursor.css';

.container{
  width: 100%;
  height: 100vh;
  position: relative;
  color: white;
  overflow: hidden;
}

.content{
  position: relative;
}

.s-one,
.s-two,
.underline_tag {
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  z-index: -1;

}

.s-one{
  left: 15%;
  width: 1px;
  height: 100vh;
}

.s-two{
  left: 85%;
  width: 1px;
  height: 100vh;
}

.contact {
  padding: 10px 30px;
  position: absolute;
  left: -20px;
  top: 180px;
  transform: rotate(-90deg);
}

.year {
  position: absolute;
  top: 90%;
  left: -130px;
  padding: 10px 30px;
}
