@import url('https://fonts.googleapis.com/css?family=Nunito+Sans');

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

*{
  font-family:"Nunito Sans";
}

@media (max-width: 200px) {
  .content > div.menu{
    font-size: 8vw;
  }
}

@media (min-width: 560px)  {
  .content{
    margin-bottom: 10vh;
    background: black;
    align-items: center;
  }
  .content > div.menu > ul{
    display: flex;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .content > div.menu > ul > li.row-item > a{
    display: flex;
    position: relative;
    flex-direction: column-reverse;
  }
  .content > div.menu > ul > li.row-item > a ::after {
    height: 0.1em;
  }
}
@keyframes animatedMenu {
  0%{
    background-position: 0 50%;
  }
  50%{
    background-position: 100% 50%;
  }
  100%{
    background-position: 0% 100%;
  }
}
